<div id="cover-photo">

</div>

<div class="shadow-cover" ng-controller="HomeCtrl">
  <div class="header text-center">
    <h1 class="header">Welcome to Clio</h1>
    <h3 class="sub-header">Where History is Visualized</h3>
    </div>
    <alerts></alerts>
<div class="front-page-buttons">
    <a href="#" ng-click="showStudentLogin()" class="btn btn-default">Student Login</a>
    <a href="#" ng-click="showLogin()" class="btn btn-default">Instructor Login</a>
    <a href="#" ng-click="showSignup()" class="btn btn-default">Join Today</a>
  </div>
</div>
