
<div id="cover-photo">

</div>

<div class="shadow-cover" ng-controller="HomeCtrl">
  <div class="header text-center">
    <h1 class="header">Welcome to Clio</h1>
    <h3 class="sub-header">Where History is Visualized</h3>
    </div>
    <alerts></alerts>
<div class="front-page-buttons">
    <a href="/projects" class="btn btn-default">Explore Inside</a>
    <a href="#" ng-click="showLogin()" class="btn btn-default">Login</a>
    <a href="#" ng-click="logout()" class="btn btn-default">Logout</a>
  </div>
</div>