

  <leaflet center="center" markers="markers" defaults="defaults" width="1200px" height="400px"></leaflet>
  <!-- <div id="map"></div> -->
 <div class="gradient-map">
  <div class="container">
  <h1>Project Maps for "{{project.name}}"</h1>

  <div>
     <li ng-repeat="map in project.maps">
      <a class="black-text" ng-href="/projects/{{project.id}}/maps/{{map.id}}">{{map.name}}</a>
     </li>
  </div>

   <button ng-click="newMap()" class="btn btn-primary map-btn top-margin-medium margin-bottom">Create Project Map</button>
   <a ng-href="/projects/{{project.id}}" class="btn btn-primary map-btn top-margin-medium margin-bottom">Return to Project</a>
  </div>
  </div>


