

  <leaflet center="center" markers="markers" tiles="tiles" defaults="defaults" width="1400px" height="400px"></leaflet>
  <!-- <div id="map"></div> -->
 <div class="gradient-map">
  <div class="container">
  <h1>Project Maps for "{{project.name}}"</h1>
      <alerts></alerts>
  <div>
     <li ng-repeat="map in project.maps" class="list-delete">
      <a class="black-text" ng-href="/projects/{{project.id}}/maps/{{map.id}}">{{map.name}}</a>
      <button ng-click="deleteMap(map.id)" style="color: black" class="btn btn-default btn-xs glyphicon glyphicon-trash pull-right" style="line-height: 14px"
                    tooltip="Remove map?" tooltip-placement="top"></button>
     </li>
  </div>

   <button ng-click="newMap()" class="btn btn-primary map-btn top-margin-medium margin-bottom">Create Project Map</button>
   <a ng-href="/projects/{{project.id}}" class="btn btn-primary map-btn top-margin-medium margin-bottom">Return to Project</a>
  </div>
  </div>


