 <div class="modal-content">
  <div class="modal-header">
  <h3 class="modal-title">Add a Marker</h3>
</div>
<div class="modal-body">
  <form class="form" ng-submit="addMarker()">
    <div class="form-group">
      <label>Address or Location (optional)</label>
      <input class="form-control" ng-model="address">
      <label>City</label>
      <input class="form-control" ng-model="city">
      <label>Country</label>
      <input class="form-control" ng-model="country">
      <label>Description</label>
      <textarea class="form-control" ng-model="description"></textarea>
      <label>Image (optional)</label>
      <input class="form-control" ng-model="image">
    </div>
     <div class="modal-footer">
    <button class="btn btn-primary">Add</button>
    </div>
  </form>
</div>
</div>


