

<leaflet ng-if="mapShow" center="center" defaults="defaults" markers="markers" width="1400px" height="400px"></leaflet>
<!-- <div style="border-bottom: 1px solid black" id="map"></div> -->
<div class="gradient-map">
<div class="container">

  <h1 class="description-header">{{map.name}}</h1>
  <p class="description-para">{{map.description}}</p>
  <hr>
  <button class="btn btn-primary bottom-margin" ng-click="newMarker()">Add an Event to the Map</button>
  <a ng-href="/projects/{{project.id}}/maps" class="btn btn-primary bottom-margin">Return to Maps Index</a>
  <button class="btn btn-primary bottom-margin map-media-button" ng-click="editMap()">Edit Map</button>
</div>
</div>

