
<div id="project-photo">

</div>

<div class="shadow-cover">
  <div class="container" ng-controller="ProjectCtrl">
      <h1 class="white-text">Hello Project World</h1>
      <alerts></alerts>
      <a class="btn btn-info" href="/maps">Link to Maps</a>
      <a class="btn btn-info" href="/timeline">Link to Timeline</a>
      <button ng-click="newProject()" class="btn btn-primary">Start a New Project</button>
      <h3 class="white-text">Projects</h3>
      <li class="white-text" ng-repeat="project in projects">

  </div>
</div>