
<div id="project-photo">

</div>

<div class="shadow-cover">
  <div class="container" ng-controller="ProjectCtrl">
      <h1 class="white-text">Welcome to Clio</h1>
      <hr class="white-test">
      <alerts></alerts>
      <h3 class="white-text">Recent Projects</h3>
        <li class="white-text" ng-repeat="project in projects">
        <a class="white-text" ng-href="/projects/{{project.id}}">{{project.name}}</a>
        </li>
      <hr class="white-test">
      <button ng-click="newProject()" class="btn btn-primary">Start a New Project</button>
  </div>
</div>