
<div id="project-photo" style="background-image: url('{{image}}')">

</div>

<div class="shadow-cover">
  <div class="container" ng-controller="ProjectCtrl">

      <h1 class="white-text">Recent Projects</h1>
      <hr class="white-text hr-margins">
        <li class="white-text" ng-repeat="project in projects">
        <a class="white-text" ng-href="/projects/{{project.id}}">{{project.name}}</a>
        </li>
      <button ng-click="newProject()" class="top-margin-medium btn btn-primary">Start a New Project</button>
      <alerts></alerts>
  </div>
</div>