<div class="container">

<h1> {{project.name}}</h1>
<p> {{project.description}} </p>
   <a class="btn btn-info" href="/projects/{{project.id}}/maps">Go to Maps</a>
   <a  class="btn btn-info" ng-click="newTimeline()">Go to Timeline</a>
  <a class="btn btn-info" href="/projects/{{project.id}}/discussion">Go to Discussion</a>
   <button ng-click="newProject()" class="btn btn-info">Edit Project Details</button>
<hr>
<h2>Students</h2>
<alerts></alerts>
<table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Added On</th>
      </thead>
      <tbody>
        <tr ng-repeat="student in project.students">
          <td>{{student.firstName}}</td>
          <td>{{student.lastName}}</td>
          <td>{{student.email}}</td>
          <td>{{student.createdAt | date: short}}</td>
        </tr>
      </tbody>
  </table>
<hr>
<button ng-click="newStudent()" class="btn btn-info">Add a Student</button>

<!--   <form class="form" ng-submit="addStudent()">
    <div class="form-group">
      <label>First Name</label>
      <input class="form-control" ng-model="firstName"></input>
      <label>Last Name</label>
      <input class="form-control" ng-model="lastName"></input>
      <label>Email</label>
      <input class="form-control" ng-model="email"></input>
    </div>
    <button class="btn btn-primary">Add a Student</button>
  <form> -->
</div>